<<<<<<< HEAD
/*MR change. i changed .logincard to be body, so that they pages have a similar styling */

body {
=======
.logincard{
>>>>>>> main
	position:absolute;
	top:20%;
	left:40%;
}
<<<<<<< HEAD


=======
>>>>>>> main
